.avatar-img {
	width: 60px;
}

.list-users {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.menu:hover {
	text-decoration: none;
}

.form {
	display: block;
	margin: 1.2rem 0;
	width: 100%;
	padding: 0.4rem;
}
